<div class="form-container">
    <h1 class="h1-body">New Family Member</h1>
    <form class="input-form" method="post" action="/family_members/<% @family_member.id %>/edit">
        <div>
            <input type="text" name="first_name" required="">
            <label>First Name</label>
        </div>
        <div>
            <input type="text" name="last_name" required="">
            <label>Last Name</label>
        </div>
        <div>
            <input type="date" name="date_of_birth" required="">
            <label>Date Of Birth</label>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>