<h1 class="h1-body">Family Members</h1>

<div class="family-flex">
    <% @family_members.each do |member| %>
    <div class="member-box">
        <h3 class="member-name"><a href=/family_members/<%= member.id %>><%= member.first_name %> <%= member.last_name %></a></h3>
    </div>
    <% end %>
</div>