<div class="form-container">
    <h1 class="h1-body">Sign Up</h1>
    <form class="input-form" method="post" action="/signup">
        <div>
            <input type="text" name="first_name" required="">
            <label>First Name</label>
        </div>
        <div>
            <input type="text" name="last_name" required="">
            <label>Last Name</label>
        </div>
        <div>
            <input type="email" name="username" required="">
            <label>Email</label>
        </div>
        <div>
            <input type="password" name="password_digest" required="">
            <label>Password</label>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>