<div class="hero-body">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child is-invisible">
                </div>
                <div class="tile is-6 is-child">
                    <div class="box">
                        <p class="title has-text-centered">
                            Sign Up
                        </p>
                        <form class="input-form" method="post" action="/signup">
                            <div class="field">
                                <label for="first_name" class="label">First Name</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="first_name" placeholder="John" required="">
                                </div>
                            </div>
                            <div class="field">
                                <label for="last_name" class="label">Last Name</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="last_name" placeholder="Doe" required="">
                                </div>
                            </div>
                            <div class="field">
                                <label for="username" class="label">Email</label>
                                <div class="control">
                                    <input type="email" class="input has-background-white-ter" name="username" placeholder="john.doe@example.com" required="">
                                </div>
                            </div>
                            <div class="field">
                                <label for="password" class="label">Password</label>
                                <div class="control">
                                    <input type="password" class="input has-background-white-ter" name="password" placeholder="Password" required="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" name="submit" value="Submit" class="button is-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tile is-child is-invisible">
                </div>
            </div>
        </div>
    </div>
</div>