<div class="hero-body">
    <div class="container has-text-centered">
        <h1 class="title has-text-link is-size-2">
            <i class="fas fa-lock is-info"></i>&nbsp;Estate Locker
        </h1>
        <h2 class="subtitle">
            All Your Estate Info In One Place
        </h2>
        <div class="tile is-ancestor">
            <div class="tile is-4 is-parent">
                <div class="tile is-child">
                    <div class="box" style="padding:0;">
                        <figure class="image is-2by3">
                            <img src="/images/hug2.png" alt="Dad hugging kids">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child has-text-left is-size-5">
                <br>
                <br>
                    <p>
                        We have all know somebody who has went through this.  A loved one passes and nobody can find any information about their life insurance, will, property, etc.  They go through paying for a funeral and spend the next couple weeks or months tracking down all the financial aspects of their life when they should be grieving.
                    </p>
                    <br>
                    <br>
                    <p>
                        Estate Locker aims to change that.  It is a place for you to store all of your family's estate information in one place.  What used to take weeks to find now takes a matter of minutes.  Imagine opening up your account and finding out who your loved one had for life insurance.  What company holds the policy?  What is the account number for that policy?  What is their contact number?  Who is the beneficiary?  Did they have a will or a retirement account? All this information in one place neatly organized so you can spend your time on what matters most.......being with your family. 
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div>