<h1>Welcome to the Estate Locker</h1>

<p>This is a website devoted to helping you quickly document and find all of your family and loved ones plans for their estate.  These items include wills, life insurance, retirement accounts, property, etc.</p>

<p>Losing a loved one is hard enough.  Don't make matters worse by stressing over trying to find all their estate items when that time can be better spent with loved ones and mourning.  This site is devoted to making that time easier.</p>