<!DOCTYPE html>
<html lang="en">
<head>
    <title>Estate Locker</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-links">
            <% if logged_in? %>
            <li><a class="logo" href="/family_members"></a></li>
            <li><a href="/family_member">Family Members</a></li>
            <li><a href="/logout">Log Out</a></li>

            <% else %>
            <li><a class="logo" href="/index"></a></li>                    
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <% end %>
        </ul>
    </nav>

    <%= yield %>
</body>
</html>