<section class="hero has-background-white-ter">
    <div class="hero-body">
        <div class="container">
            <p class="title has-text-centered has-text-link is-size-2">
                <i class="fas fa-lock is-info"></i>&nbsp;Estate Locker
            </p>
            <p class="subtitle has-text-centered">
                All Your Estate Info In One Place
            </p>
        </div>
    </div>
  </section>

