<!DOCTYPE html>
<html lang="en">
<head>
    <title>Estate Locker</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <a class="logo" href="/family_members">Estate Locker</a>
        <ul class="nav-links">
            <% if logged_in? %>
            <li><a href="/family_members/new">Family Members</a></li>
            <li><a href="/plans/new">New Plan</a></li>
            <li><a href="/logout">Log Out</a></li>
            </ul>

            <% else %>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <% end %>
        </ul>
    </header>

    <%= yield %>
</body>
</html>