<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estate Locker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <script type="text/javascript" src="/javascripts/vanilla.js"></script>
    <script src="https://kit.fontawesome.com/6396b028af.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="hero has-background-white-ter is-fullheight">
        <div class="hero-head">
            <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item has-text-weight-bold has-text-link is-capitalized is-size-3" href="/family_members"><i class="fas fa-lock is-info"></i>&nbsp;Estate Locker</a>
                    
                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu is-shadowless" id="navMenu">
                    <% if logged_in? %>
                        <div class="navbar-start">
                            <a href="/" class="navbar-item has-text-weight-semibold">
                                Home
                            </a>
                            <a href="/family_members/new" class="navbar-item has-text-weight-semibold">
                                New Family Member
                            </a>
                            <a href="/plans/new" class="navbar-item has-text-weight-semibold">
                                New Plan
                            </a>
                        </div>

                        <div class="navbar-end">
                            <div class="navbar-item">
                                <p class="control">
                                    <a class="button is-link has-text-weight-medium" href="/logout">
                                    <span>Log Out</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    
                    <% else %>

                        <div class="navbar-start">
                            <a href="/" class="navbar-item has-text-weight-semibold">
                                Home
                            </a>
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-link has-text-weight-medium" href="/signup">
                                        <span>Sign Up</span>
                                        </a>
                                    </p>

                                    <p class="control">
                                        <a class="button is-primary has-text-weight-medium" href="/login">
                                        <span>Log In</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    <% end %>
                </div>
            </nav>
        </div>

        <%= yield %>

        <div class="hero-foot">
            <div class="content has-text-centered is-info">
                <p class="has-text-link has-text-weight-medium" style="padding-bottom: 15px;">
                    &copy;&nbsp;Tyler Sell
                </p>
            </div>
        </div>

    </section>
</body>
</html>
