<!DOCTYPE html>
<html lang="en">
<head>
    <title>Estate Locker</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="https://kit.fontawesome.com/6396b028af.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <ul class="nav-links">
            <% if logged_in? %>
            <li><a class="logo" href="/family_members"><i class="fas fa-user-lock"></i> Estate Locker</a></li>
            <li><a href="/family_members">Family Members</a></li>
            <li><a href="/plan/new">New Plan</a></li>
            <li><a href="/logout">Log Out</a></li>

            <% else %>
            <li><a class="logo" href="/index"><i class="fas fa-user-lock"></i> Estate Locker</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
            <% end %>
        </ul>
    </header>

    <%= yield %>
</body>
</html>