<p>Are you sure you want to delete <%= @plan.type %> with <%= @plan.company %>?</p>

<form method="post" action="/plans/<%= @plan.id %>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>