<div class="hero-body">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child is-invisible">
                </div>
                <div class="tile is-6 is-child">
                    <div class="box">
                        <p class="title has-text-centered">
                            New Plan
                        </p>
                        <form class="input-form" method="post" action="/plans/new">
                            <div class="field">
                                <label for="family_member" class="label">Family Member</label>
                                <div class="control is-expanded">
                                    <div class="select">
                                    <select class="is-capitalized" name="family_member" required="">
                                        <% @family_members.each do |member| %>
                                        <option value="<%= member.id %>"><%= member.first_name %> <%= member.last_name %></option>
                                        <% end %>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="kind_of_plan" class="label">Kind Of Plan</label>
                                <div class="control is-expanded">
                                    <div class="select">
                                    <select class="is-capitalized" name="kind_of_plan" required="">
                                        <option value="Life Insurance">Life Insurance</option>
                                        <option value="Retirement">Retirement</option>
                                        <option value="Will">Will</option>
                                        <option value="Assets">Assets</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label for="company" class="label">Company Name</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="company" placeholder="Company Name" required="">
                                </div>
                            </div>
                            <div class="field">
                                <label for="account_number" class="label">Account Number</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="account_number" placeholder="A257G5879">
                                </div>
                            </div>
                            <div class="field">
                                <label for="contact_number" class="label">Contact Number</label>
                                <div class="control">
                                    <input type="tel" class="input has-background-white-ter" name="contact_number" placeholder="800-123-4567" required="">
                                </div>
                            </div>
                            <div class="field">
                                <label for="beneficiary" class="label">Beneficiary</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="beneficiary" placeholder="Beneficiary Name">
                                </div>
                            </div>
                            <div class="field">
                                <label for="notes" class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea has-background-white-ter" name="notes" placeholder="Notes"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" name="submit" value="Submit" class="button is-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tile is-child is-invisible">
                </div>
            </div>
        </div>
    </div>
</div>