<div class="hero-body">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <div class="tile is-child is-invisible">
                </div>
                <div class="tile is-6 is-child">
                    <div class="box">
                        <p class="title has-text-centered">
                            New Plan
                        </p>
                        <form class="input-form" method="post" action="/family_members/new">
                            <div class="field">
                                <%# 
                                
                                <div>
                                    <input type="text" name="beneficiary">
                                    <label>Beneficiary</label>
                                </div>
                                <div>
                                    <textarea name="notes"></textarea>            
                                    <label>Notes</label>
                                </div> 
                                %>
                                <label for="company" class="label">Company Name</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="company" placeholder="Company Name" required="">
                                </div>
                            </div>
                            <div class="field">
                                <label for="account_number" class="label">Account Number</label>
                                <div class="control">
                                    <input type="text" class="input has-background-white-ter" name="account_number" placeholder="A257G5879">
                                </div>
                            </div>
                            <%# 
                                <div>
                                    <input type="tel" name="contact_number" required="">
                                    <label>Contact Number</label>
                                </div> 
                            %>
                            <div class="field">
                                <label for="contact_number" class="label">Contact Number</label>
                                <div class="control">
                                    <input type="tel" class="input has-background-white-ter" name="contact_number" placeholder="800-123-4567" required="">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input type="submit" name="submit" value="Submit" class="button is-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tile is-child is-invisible">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-container">
    <h1 class="h1-body">New Plan</h1>
    <form class="input-form" method="post" action="/plans/new">
        <div>
            <select name="family_member" required="">
                <% @family_members.each do |member| %>
                <option value="<%= member.id %>"><%= member.first_name %> <%= member.last_name %></option>
                <% end %>
            </select>
            <label>Family Member</label>
        </div>
        <div>
            <select name="kind_of_plan" required="">
                <option value="Life Insurance">Life Insurance</option>
                <option value="Retirement">Retirement</option>
                <option value="Will">Will</option>
                <option value="Assets">Assets</option>
                <option value="Other">Other</option>
            </select>
            <label>Kind of Plan</label>
        </div>
        <div>
            <input type="text" name="company" required="">
            <label>Company</label>
        </div>
        <div>
            <input type="text" name="account_number">
            <label>Account Number</label>
        </div>
        <div>
            <input type="tel" name="contact_number" required="">
            <label>Contact Number</label>
        </div>
        <div>
            <input type="text" name="beneficiary">
            <label>Beneficiary</label>
        </div>
        <div>
            <textarea name="notes"></textarea>            
            <label>Notes</label>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>